<!-- footer area start -->
<footer class="footer ptb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5">
                <div class="footer-copyright">
                    <p>2020 © Aquapotronics by <a href="http://www.nust.edu.pk/INSTITUTIONS/Centers/RIMMS/Pages/default.aspx">NUST (RIMMS)</a> - All Right Reserved</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Term</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer><!-- footer area end -->
<!-- jquery main JS -->
<script src="/assets/js/jquery.min.js"></script>
<!-- Poppers JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- owl carousel JS -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Slicknav JS -->
<script src="/assets/js/jquery.slicknav.min.js"></script>
<!-- Circlechart JS -->
<script src="/assets/js/jquery.circlechart.js"></script>
<!-- Timeline JS -->
<script src="/assets/js/timeline.js"></script>
<!-- Popup JS -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Lightbox JS -->
<script src="/assets/js/lightbox.min.js"></script>
<!-- Zoom JS -->
<script src="/assets/js/jquery.imagezoom.js"></script>
<!-- main JS -->
<script src="/assets/js/main.js"></script>
</body>
</html>