
<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
		<title>Welcome | Aquapotronic NUST</title>
		<!-- Font Awesome CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" media="all" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" media="all" />
		<!-- Slicknav CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/slicknav.min.css">
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
		<!-- Icofont CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/icofont.css">
		<!-- Popup CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">
		<!-- Timeline CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/timeline.css">
		<!-- Lightbox CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/lightbox.min.css">
		<!-- Main style CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" media="all" />
	</head>
	<body>
		<!-- Page loader -->
	    <div id="preloader"></div>
		<!-- header area start -->
