body {
  padding-right: 0 !important
}

.blockUI.blockMsg .m-loader {
  display: none;
}

.m-blockui {
  background: #000000;
  width: 100%;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
}

.blockUI.blockMsg.blockElement {
  z-index: 10 !important;
  width: 100% !important;
}

.blockUI.blockMsg.blockElement span:nth-child(2){
  display: none;
}

.m-blockui > span {
  color: #ffffff;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__userpic img {
  max-width: 20px !important;
}

.m-aside-menu .m-menu__nav {
  padding: 15px 0 15px 0;
}

.m-subheader {
  padding: 15px 15px 0 15px;
}

.m-body .m-content {
  /* padding: 8px 8px; */
  padding: 8px 16px;
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  padding: 9px 15px;
}

.m-aside-menu .m-menu__nav .m-menu__section {
  padding: 0px 17px;
}

.m-aside-menu .m-menu__nav>.m-menu__section {
  margin: 15px 0 0 0;
  height: 25px;
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__heading, .m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  cursor: pointer;
  height: 35px;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon>i {
  font-size: 1.2rem;
}

.m-footer {
  padding: 5px 15px;
  height: 40px;
  min-height: 40px;
}

.m-portlet .m-portlet__body {
  padding: 12px 1.5rem;
}

.m-portlet .m-portlet__head {
  padding: 0 1.5rem;
}

.m-tabs-line .m-tabs__link {
  padding: 6px 0;
}

.nav.nav-pills, .nav.nav-tabs {
  margin-bottom: 12px;
}

.m-separator {
  margin: 14px 0;
}

.m-portlet {
  margin-bottom: 12px;
}

.m-portlet .m-portlet__head {
  height: 3.5rem;
}

.table td {
  padding: 0.15rem 0.5rem;
}

.table th {
  padding: 0.35rem 0.5rem;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  bottom: 0.4em !important;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-right: 22px;
}

.m-btn--icon.m-btn--icon-only.btn-lg [class^="la-"], .btn-group-lg>.m-btn--icon.m-btn--icon-only.btn [class^="la-"], .m-btn--icon.m-btn--icon-only.btn-lg [class*=" la-"], .btn-group-lg>.m-btn--icon.m-btn--icon-only.btn [class*=" la-"] {
  font-size: 1.2rem;
}

.m-btn--icon.m-btn--icon-only.btn-lg, .btn-group-lg>.m-btn--icon.m-btn--icon-only.btn {
  width: 25px;
  height: 25px;
}

.m-demo .m-demo__preview {
  padding: 10px;
}

.m-section {
  margin: 0 0 20px 0;
}

.m-section .m-section__heading {
  margin: 0 0 12px 0;
}

.col-border-right {
  border-right: 1px solid #ebedf2;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.form-control {
  padding: 0.5rem 0.5rem;
  height: calc(2.3rem + 2px);
}

.daterangepicker .ranges ul li {
  padding: 4px 5px;
  margin-bottom: 5px;
}

.daterangepicker .daterangepicker_input .input-mini {
  padding: 0.5rem 1rem;
  padding-left: 2.35rem;
}

.daterangepicker td, .daterangepicker th {
  height: 30px;
}

.daterangepicker .daterangepicker_input i {
  top: 7px;
}

.daterangepicker .ranges ul {
  width: 190px;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 60px;
}

.dataTables_scrollBody {
  min-height: 155px;
}

.m-portlet--skin-dark .m-checkbox {
  color: white;
}

.btn.btn--sm {
  padding: 6px 8px;
}

.modal-header .close {
  padding: 1.6rem;
}

.modal .modal-content .modal-header {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-body .m-form.m-form--group-seperator-dashed .m-form__group, .m-form.m-form--group-seperator .m-form__group {
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 6px;
  padding-right: 6px;
}

.modal .modal-content .modal-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal .modal-content .modal-body {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-header .close {
  padding: 2rem 1rem 1rem 1rem;
}

.modal .modal-content .modal-footer {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.aod_icon>.fa {
  font-size: 2rem
}

.aod_icon>.fa.fa-caret-down {
  color: #299781;
}

.aod_icon>.fa.fa-caret-up {
  color: #36a3f7;
}

.m-portlet .m-portlet__body {
  color: #000000;
}

a {
  color: #000000;
}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text {
  color: #383838;
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-content .m-messenger__message-text {
  color: #000000;
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-content .m-messenger__message-username {
  color: #000000;
}

.m-tabs-line.nav.nav-tabs .nav-link, .m-tabs-line a.m-tabs__link {
  color: #000000;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__text {
  color: #313131;
}

table.dataTable td {
  padding: 3px 5px;
  width: 1px;
  white-space: nowrap;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-right: 25px;
  white-space: nowrap;
}

.table-hover tbody tr.row_recent_update {
  background: #fff2c5 !important;
}

.table-hover tbody tr.row_recent_update:hover {
  background-color: #f7f8fa !important;
}

#side_menu__search_cont {
  padding-top: 10px;
  padding: 10px 5px 0px 5px;
}

#side_menu__search_cont>#side_menu_search {
  background: #201f2b;
  color: #d6d7e1;
}

.dataTables_wrapper .dataTable {
  margin: 0rem 0 !important;
}

.DTFC_RightBodyLiner {
  width: 135px !important;
}

.DTFC_LeftBodyLiner {
  /* width: 105px !important; */
  /* width: 92px !important; */
  width: 100% !important;
}

.DTFC_LeftBodyLiner {
  overflow: hidden;
  overflow-y: hidden !important;
  border-right: 1px solid #f4f5f8;
}

/* .has-danger .input-group-text, .has-danger .form-control {
  border-color: #e83e3e;
} */

.has-danger label:not([class]), .has-danger label.col-form-label, .has-danger label.form-control-label {
  color: #e83e3e;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0.5rem 0.5rem;
}

body.modal-open {
  overflow: hidden !important;
}

.typeahead.dropdown-menu {
  z-index: 1051;
}

.modal-dialog {
  width: 100%;
  height: 95%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.modal-open .modal {
  padding-right: 0px !important;
}

.blockUI.blockOverlay {
  z-index: 10 !important;
  opacity: 0.3 !important;
}

.blockUI.blockMsg.blockPage {
  z-index: 99999 !important;
}

.flatpickr-current-month {
  font-size: 92%;
}

.flatpickr-day {
  height: 30px;
  line-height: 30px;
}

.border_heading_container {
  border: 1px solid #ebedf2;
  padding: 10px 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.border_heading_container>h6.border_heading {
  position: absolute;
  top: -4px;
  /* border: 1px solid #ebedf2; */
  left: 9px;
  background: white;
  padding: 1px 10px;
}

.border_heading_container_row {
  padding: 10px;
}

tr>td.dt-body-left {
  text-align: left;
}

tr>td.dt-body-center {
  text-align: center;
}

tr>td.dt-body-right {
  text-align: right;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

.m-form.m-form--group-seperator-dashed .m-form__group, .m-form.m-form--group-seperator .m-form__group {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__heading, .m-form.m-form--fit .m-form__group {
  padding-left: 8px;
  padding-right: 8px;
}

.m-widget29 .m-widget_content .m-widget_content-items .m-widget_content-item>span:first-child {
  color: #000000;
}

.m-widget29 .m-widget_content .m-widget_content-title {
  color: #000000;
}

.block_graph {
  position: absolute;
  top: 3%;
  bottom: 20%;
  margin: 0 auto;
  z-index: 99;
  width: 90%;
  background-color: #00000038;
}

.block_message {
  color: white;
    text-align: center;
    margin-top: 6em;
    font-size: 2em;
    background: black;
}

.highcharts-container  {
  width: 100% !important;
}

.highcharts-root {
  width: 100% !important;
}

@media (min-width: 1025px) {
  .m-header {
    height: 40px;
  }
  .m-brand .m-brand__logo, .m-brand .m-brand__tools {
    height: 40px !important;
  }
  .m-header--fixed .m-body {
    padding-top: 40px !important;
  }
  .m-aside-left--fixed.m-header--static .m-aside-left, .m-aside-left--fixed.m-header--fixed .m-aside-left {
    top: 40px;
  }
  .m-aside-menu .m-menu__nav>.m-menu__item.m-menu__item--expanded>.m-menu__link>.m-menu__item-here, .m-aside-menu .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link>.m-menu__item-here {
    border-width: 19px 13px 19px 0;
  }
  .m-aside-left--minimize .m-aside-menu .m-menu__nav {
    padding: 15px 0 15px 0;
  }
  .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-footer {
    margin-top: -40px;
  }
  .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-aside-right, .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-wrapper {
    margin-bottom: 30px;
  }
}

.error{
  color: #e83e3e;
}

.m-input{
  height: 40px;
}